.imperio{
    background-color: red;
}
.rebeldes{
    background-color: blue;
}
#darth{
    font-size: large;
}
#luke{
     font-style: italic;
}
.soldados{
    border-style:dashed ;
    letter-spacing: 5px;
}

.unidad{
    text-align: center;
}

.naves{
    text-transform: capitalize;
}